.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header button {
  font-size: 22px;
  background: rgba(70, 102, 154, 0.599);
  color: white;
  font-family: "Times New Roman", Times, serif;
  border: none;
  padding: 15px;
  cursor: pointer;
  margin: 25px;
}
.header button:hover {
  font-size: 22px;
  background: rgba(70, 102, 154, 0.9);
  transition: 0.6s ease;
}

.header .inputContainer input {
  background: rgba(85, 92, 103, 0.1);
  width: 300px;
  height: 40px;
  border: none;
  margin: 50px;
}

.header .user_typing input {
  background: rgba(85, 92, 103, 0.15);
  /* border: 1px; */
  /* border: 1px; */
  width: 320px;
  height: 50px;
}
.header .user_typing > * {
  font-family: "Courier New", Courier, monospace;
  font-size: 23px;
  color: rgb(69, 66, 66);
}
